In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel(r"C:\Users\m.priyanka\Desktop\metadata.xlsx")

In [3]:
data.head()

,TotalArea(Sqft),SlabArea(Sqft),BuildingAge(Years),FloorNumber,NoofBHK,NoofBathrooms,HouseType,MainDoorFacing,TypeofFurnish,AvailabilityofDiningHall,AvailabilityofParkingLot,AvailabilityofGarden,SellingPriceInCr
0,3200,2600,4,1,3,3,Independent,East,Fully Furnished,Yes,Yes,Yes,1.60
1,2500,2000,1,1,2,2,Independent,East,Semi-Furnished,No,Yes,Yes,1.35
2,2500,2250,1,1,4,4,Independent,North,Unfurnished,No,Yes,No,0.92
3,5771,5350,1,2,8,8,Independent,East,Unfurnished,No,Yes,No,2.80
4,3500,3000,3,2,6,6,Independent,West,Unfurnished,No,Yes,No,1.55

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TotalArea(Sqft)           35 non-null     int64
 1   SlabArea(Sqft)            35 non-null     int64
 2   BuildingAge(Years)        35 non-null     int64
 3   FloorNumber               35 non-null     int64
 4   NoofBHK                   35 non-null     int64
 5   NoofBathrooms             35 non-null     int64
 6   HouseType                 35 non-null     object
 7   MainDoorFacing            35 non-null     object
 8   TypeofFurnish             35 non-null     object
 9   AvailabilityofDiningHall  35 non-null     object
 10  AvailabilityofParkingLot  35 non-null     object
 11  AvailabilityofGarden      35 non-null     object
 12  SellingPriceInCr          35 non-null     float64
dtypes: float64(1), int64(6), object(6)
memory usage: 3.7+ KB

In [5]:
train=data.drop(['SellingPriceInCr'],axis=1)

In [6]:
 Price=data['SellingPriceInCr']

In [7]:
from catboost import CatBoostRegressor,Pool

In [8]:
model=CatBoostRegressor(n_estimators=200,loss_function='RMSE',learning_rate=0.4,depth=2,task_type='CPU',random_state=1,verbose=False)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(train,Price,test_size=0.20,random_state=2)

In [11]:
pool_train=Pool(x_train,y_train,cat_features=['HouseType','MainDoorFacing','TypeofFurnish','AvailabilityofDiningHall','AvailabilityofParkingLot','AvailabilityofGarden'])

In [12]:
pool_test=Pool(x_test,cat_features=['HouseType','MainDoorFacing','TypeofFurnish','AvailabilityofDiningHall','AvailabilityofParkingLot','AvailabilityofGarden'])

In [13]:
model.fit(pool_train)

In [14]:
y_pred=model.predict(pool_test)

In [15]:
y_pred

array([0.6721006 , 0.78981087, 2.43142469, 0.78360877, 2.16395453,
       2.02788293, 1.79240725])

In [16]:
y_test

13    0.68
14    1.01
26    2.40
9     0.65
28    2.40
32    2.50
0     1.60
Name: SellingPriceInCr, dtype: float64

In [17]:
from sklearn.metrics import mean_squared_error as mse

In [18]:
model_rmse=np.sqrt(mse(y_test,y_pred))

In [19]:
print("RMSE is: ",np.mean(model_rmse))

RMSE is:  0.23391604419881562

In [20]:
Price.describe()

count    35.000000
mean      1.811429
std       0.935827
min       0.650000
25%       0.970000
50%       1.750000
75%       2.450000
max       3.750000
Name: SellingPriceInCr, dtype: float64